# Ignora arquivos de compilação Java
**/bin/
**/build/
**/out/
**/target/

# Ignora arquivos de IDEs (como IntelliJ, Eclipse, VSCode)
**/.idea/
**/.classpath
**/.project
**/.settings/
**/.vscode/

# Ignora arquivos temporários do sistema
**/*.class
**/*.log
**/*.tmp
**/~*
**/*.swp

# Ignora arquivos de backup
**/*~
**/#*#
**/.DS_Store

# Ignora arquivos gerados por Maven ou Gradle
**/.gradle/
**/.mvn/
**/build/
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/release.properties